.btn-update {
        --bs-btn-color: #fff;
        --bs-btn-bg: #63D471;
        --bs-btn-border-color: #63D471;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #4E7D55;
        --bs-btn-hover-border-color: #4E7D55;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #4E7D55;
        --bs-btn-active-border-color: #4E7D55;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #63D471;
        --bs-btn-disabled-border-color: #63D471;
    }

    .btn-delete {
        --bs-btn-color: #fff;
        --bs-btn-bg: #ff0018;
        --bs-btn-border-color: #ff0018;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #4E7D55;
        --bs-btn-hover-border-color: #4E7D55;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #4E7D55;
        --bs-btn-active-border-color: #4E7D55;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #ff0018;
        --bs-btn-disabled-border-color: #ff0018;
    }

    .btn-head {
        --bs-btn-color: #fff;
        --bs-btn-bg: #63D471;
        --bs-btn-border-color: #63D471;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #4E7D55;
        --bs-btn-hover-border-color: #4E7D55;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #4E7D55;
        --bs-btn-active-border-color: #4E7D55;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #63D471;
        --bs-btn-disabled-border-color: #63D471;
    }